@use '../../styles/variables' as v;
@use '../../styles/utils.module.scss' as *;

.wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: v.$lg) {
    flex-direction: row;
  }

  .innerWrapper {
    flex-basis: 100%;

    ul {
      margin: 0 0 0 1rem;
      padding: 0;
      border-left: 1px solid rgba(102, 95, 130, 0.15);

      li {
        position: relative;
        list-style: none;
        //border-left: 1px solid rgba(102, 95, 130, 0.15);
        border-bottom: 1px solid rgba(102, 95, 130, 0.15);
        padding: 2.5rem 1.5rem 1rem;

        &:last-child {
          border: none;
        }

        h6 {
          margin-bottom: 1.5rem;
        }

        p {
          &:last-child {
            margin-bottom: 1rem;
            font-size: 0.8rem;
            font-weight: 500;
          }
        }

        .header {
          display: flex;
          align-items: center;
          position: absolute;
          background-color: white;
          top: 0.5rem;
          left: -1rem;

          p {
            font-size: 0.7rem;
            line-height: 1.1rem;

            &:last-child {
              color: $color-main;
              font-weight: 400;
              letter-spacing: 0.04rem;
            }
          }

          .timeline {
            font-size: 0.7rem;
            list-style: none;
            display: inline-block;
            border: 1px solid rgba(102, 95, 130, 0.15);
            border: 1px solid rgba(102, 95, 130, 0.15);
            color: rgb(102, 95, 130);
            border-radius: 40px;
            padding: 0.4rem 1rem;
            transition: border-color linear 0.3s;
            margin-right: 1rem;

            &:hover {
              border-color: rgb(102, 95, 130);
              color: rgb(114, 110, 132);
            }
          }
        }
      }
    }
  }
}
