@use '../../styles/utils.module.scss' as *;
$size: 22px;

.wrapper {
  max-width: 100%;
  display: flex;
  gap: 1rem;

  .icon {
    width: $size;
    height: $size;
    cursor: pointer;
    fill: black;
    transition: fill linear 0.2s;

    &:hover {
      fill: $color-main;
    }
  }
}
