@use '../../styles/variables' as v;
@use '../../styles/utils.module.scss' as *;

.paragraph {
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  gap: 1.5rem;

  .inputWrapper {
    flex: 1 1 45%;
    position: relative;
    //border: 1px solid black;

    label {
      position: absolute;
      top: 1rem;
      left: 0;
      //transform: translateY(-50%);
      font-size: 0.7rem;
      font-weight: 600;
      color: rgb(102, 95, 130);
      cursor: text;
      transition: top 0.2s linear, font-size 0.2s, color 0.2s;
    }

    textarea,
    input {
      width: 100%;
      padding: 0.5rem;
      padding: 0.8rem 1.2rem;
      padding: 0.8rem 0;
      font-size: 0.9rem;
      border: 0;
      caret-color: $color-main;
      outline: none;
      transition: outline-color ease-in 0.2s, border-bottom 0.2s;
      position: relative;
      border-bottom: 1px solid rgba(102, 95, 130, 0.15);

      &:-webkit-autofill {
        background-clip: text;
      }

      &::placeholder {
        font-size: 0.75rem;
        color: #7d7d7d;
      }

      &:focus,
      &:active {
        border-bottom: 1px solid $color-main;
      }

      &:focus ~ label,
      &:active ~ label,
      &:not(:placeholder-shown):not(:focus) ~ label {
        top: -0.5rem;
        left: 0;
        font-size: 0.7rem;
      }
      &:focus ~ label,
      &:active ~ label {
        color: $color-main;
      }
    }

    textarea {
      width: 100%;
      min-height: 1rem;
      max-height: 250px;
      resize: vertical;
      font-family: inherit;
      font-size: 0.9rem;
    }
  }
}
