@use '../../styles/variables' as v;
@use '../../styles/utils.module.scss' as *;

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  gap: 1.3rem;

  & > input {
    flex: 1 1 45%;
  }

  textarea,
  input {
    padding: 0.5rem;
    padding: 0.9rem 1.3rem;
    border: 0;
    border-bottom: 2px solid #7d7d7d;
    border: 1px solid #7d7d7d;
    border-radius: 5px;
    caret-color: $color-main;
    outline: none;
    transition: outline-color ease-in 0.2s, border-bottom 0.2s;
    //outline: 0;

    &::placeholder {
      font-size: 0.75rem;
      color: #7d7d7d;
    }

    &:focus,
    &:active {
      //outline-color: $color-main;
      //border: none;
      border-bottom: 2px solid $color-main;
      border: 1px solid $color-main;
    }
  }

  textarea {
    flex-basis: 100%;
    min-height: 100px;
    max-height: 250px;
    resize: vertical;
  }

  button {
    flex-basis: 100%;
  }

  // @media (min-width: v.$sm) {
  //   flex-direction: row;
  // }
}
