@use '../../styles/utils.module.scss' as *;

.button {
  margin: 1rem 0 3rem;
  padding: 0.7rem 2.5rem;
  border-radius: 5px;
  background-color: $color-main;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
