@use '../../styles/utils.module.scss' as *;
@use '../../styles/variables' as v;

.container {
  max-width: 72rem;
  // min-height: 100vh;
  margin: 1rem auto 6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;

  & > header {
    flex: 1 1 35%;
    //min-width: 15ch;
  }

  & > main {
    flex: 1 1 65%;
    //min-width 30ch;
    color: $color-main;
    padding: 0.5rem 1.5rem 2rem;
  }

  @media (min-width: v.$sm) {
    flex-direction: row;
  }
}
