@use '../../styles/utils.module.scss' as *;
@use '../../styles/variables' as v;

.container {
  max-width: 72rem;
  margin: 1rem auto 6rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;

  & > header {
    flex: 1 1 30%;
  }

  & > div {
    flex: 1 1 70%;
  }

  @media (min-width: v.$sm) {
    flex-direction: row;

    & > div {
      padding: 0.5rem 1.5rem 2rem 2rem;
    }
  }
}
