@keyframes slidein {
  from {
    opacity: 0;
    top: 0;
  }
  to {
    top: -100%;
    opacity: 1;
  }
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;

  .button {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    top: 1rem;
    right: 1rem;
    background: white url("/icons/svg/directional/arrow-right.svg") no-repeat
      50% 50%;
    background-size: 50%;
    border: 1px solid rgba(102, 95, 130, 0.15);
    border-radius: 50%;
  }

  .innerWrapper {
    width: 100%;
    display: flex;
    position: relative;

    .slide,
    .slideActive {
      min-width: 100%;
      position: relative;
      top: 0;
      transition: left ease-in-out 0.3s, opacity linear 0.2s;
    }

    .slide {
      opacity: 0;
    }
    .slideActive {
      opacity: 1;
      background-color: white;
    }

    .slide[data-index="0"] {
      left: -100%;
    }

    .slide[data-index="1"] {
      left: 100%;
    }

    .slideActive[data-index="0"] {
      left: 0;
    }
    .slideActive[data-index="1"] {
      left: -100%;
    }
  }

  button {
    cursor: pointer;
    //position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;

    &.next {
      right: 0;
    }

    &.prev {
      left: 0;
    }
  }
}
