@use '../../styles/utils.module.scss' as *;

.list {
    margin: 0;
    padding: 0;
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
    font-size: 0.6rem;
    margin-bottom: 2rem;

    li {
    color: $color-main;
    //flex: 1 1 30%;
    list-style: none;

    display: inline-block;
    border: 1px solid rgba(102,95,130,.15);
    color: rgb(102, 95, 130);
    border-radius: 40px;
    padding:  .4rem 1rem;
    line-height: 1.1rem;
    transition: border-color linear .3s;

    &:hover {
        border-color: rgb(102, 95, 130);
        color: rgb(114, 110, 132);
    }
    }
}