.nav {
  text-align: center;
  margin-bottom: 1rem;

  li {
    margin: 0;

    &::first-letter {
      text-transform: uppercase;
    }

    a {
      display: block;
      padding: 0.5rem 0.75rem;
    }
  }
}
