@use '../../styles/variables' as v;
@use '../../styles/utils.module.scss' as *;

.wrapper {
  .innerWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    text-align: center;

    & > * {
      flex: 1 1 50%;
    }

    .image {
      //overflow: visible;
      overflow: visible !important;
      border-radius: 1rem;
      box-shadow: 2px 2px 50px rgb(0 0 0 / 15%);

      & > div {
        overflow: visible;
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 1.25rem;
        color: $color-main;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      gap: 0.5rem;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: 0.6rem;
      margin-bottom: 2rem;
    }

    li {
      color: $color-main;
      //flex: 1 1 30%;
      list-style: none;

      display: inline-block;
      border: 1px solid rgba(102, 95, 130, 0.15);
      color: rgb(102, 95, 130);
      border-radius: 40px;
      padding: 0.4rem 1rem;
      line-height: 1.1rem;
      transition: border-color linear 0.3s;

      &:hover {
        border-color: rgb(102, 95, 130);
        color: rgb(114, 110, 132);
      }
    }

    .demo {
      display: block;
      margin: 0 auto;
      max-width: 120px;
      padding: 0.5rem 0;
      //color: rgb(114, 110, 132);
      font-weight: 700;
      font-size: 0.6rem;
      text-transform: uppercase;
    }

    @media (min-width: v.$md) {
      flex-direction: row;
      margin-bottom: 3rem;

      .content {
        margin-bottom: 0;
      }

      &:nth-child(2n) {
        flex-direction: row-reverse;
      }
    }
  }
}
